.wrapper .page-wrap .app-sidebar.colored .sidebar-content {

    background-color: #333E52;

}

.wrapper .page-wrap .app-sidebar.colored .sidebar-content .nav-container .navigation-main .nav-item.open::after,
.wrapper .page-wrap .app-sidebar.colored .sidebar-content .nav-container .navigation-main .nav-item.active::after {

    background-color: #eb525d;

}

.wrapper .page-wrap .app-sidebar .sidebar-content .nav-container .navigation-main .nav-item.has-sub .submenu-content .menu-item.active {

    color: #fff !important;
    background-color: #EB525D !important;
}
