/*!
 * Start Bootstrap - Modern Business (https://startbootstrap.com/template-overviews/modern-business)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-logomodern-business-nav/blob/master/LICENSE)
 */
body {
    font-family: Roboto;
}

.carousel-item {
    height: 102vh;
    min-height: 400px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.portfolio-item {
    margin-bottom: 30px;
}




.visi-misi {
    background-color: #0A73AF;
    color: #fff;
}


h1 {
    font-weight: 700;
}

.status-proyek {
    background-image: linear-gradient(to bottom right, #1D986C, #4EC67D);
    color: #fff;
}


footer {
    background-color: #222;
}


/*======== On screens that are 480px wide or less ========*/
@media screen and (max-width: 480px) {
    .carousel-item {
        width:100%!important;
        height:auto!important;
        min-height:200px !important;
    }

    footer {
        font-size: 12px;
    }
}

/*======== On screens that are 992px wide or more ========*/
@media screen and (min-width: 992px) {

    .navbar-dark {

        background-color: transparent !important;
        z-index: 1;

    }

    header {
        margin-top: -90px;
    }

    .navbar-dark .navbar-nav .nav-link {

        color: rgba(255, 255, 255, 1);

    }

    .navbar-expand-lg .navbar-nav .nav-link {

        padding-right: 1rem;
        padding-left: 1rem;

    }

    .navbar {
        padding: 20px 1rem !important;

    }
}
