body {
    font-family: 'Roboto', sans-serif;
}

.carousel-item {
    height: 60vh;
    min-height: 400px;
    background: no-repeat top center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.portfolio-item {
    margin-bottom: 30px;
}


.visi-misi {
    background-color: #0A73AF;
    color: #fff;
}


.menu {
    background-color: #094b81;
    color: #fff;
}

.kebijakan {
    background-color: #fff;
    color: #222;
}

.timeline-proyek {
    background-color: #f27e46;
    color: #fff;
}

.status-proyek {
    background: linear-gradient(0deg, #EEA849 0%, #F46B45 100%);
    color: #fff;
}


.struktur-organisasi {
    background-color: #0D92CB;
    color: #fff;
}

.kontak {
    background-color: #0A73AF;
    color: #fff;
}

.profil-proyek {
    background-color: #1e976c;
    color: #fff;
}

.upcoming-event {
    background-color: #F46B45;
    color: #fff;
}

.csr {
    background-color: #fff;
    color: #454D5A;
}


.home-6c {
    /* background-color: #f46b44;
    color: #fff; */
    background-color: #fff;
    color: #222;
}

.home-video {
    background-color: #0e537c;
    color: #fff;
}

.proyek-video {
    background-color: none;
    color: #fff;
}

.csr a {
    color: #454D5A;
}

.csr a:hover {
    text-decoration: none;
}

.font-size-big {
    font-size: 20px;
    line-height: 27px;
}


h1 {
    font-weight: 700;
}

.lokasi-proyek {
    background-image: linear-gradient(to bottom right, #1D986C, #4EC67D);
    /* background-color: #73B6E6; */
    color: #fff;
}


footer {
    background-color: #222;
}

.form-control {

    background-color: transparent;
    border-radius: 0;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid 1px #fff;
    color: #fff;
    padding-left: 0px;
    padding-right: 0px;

}

.form-control:hover,
.form-control:focus {

    background-color: transparent;
    border-radius: 0;
    border-top: none;
    border-right: none;
    border-left: none;
    box-shadow: none;
    color: #fff;
    padding-left: 0px;
    padding-right: 0px;
}

label {
    color: #f2a229;
    font-weight: bold;
}

.btn-warning {
    border-radius: 50px;
    color: #fff;
    padding: 10px;
    min-width: 200px;
    background-color: #f2a229;
    border-color: #f2a229;
}

.btn-primary {
    border-radius: 50px;
    padding: 10px;
    min-width: 200px;
}

.btn-warning:hover {
    color: #fff;
}

.bg-produk-1 {
    background-color: #187a57;
    padding: 50px;
    color: #d9fff1;
}

.bg-produk-2 {
    background-color: #d9fff1;
    padding: 50px;
    color: #187a57;
}

.bg-odd-odd {
    background-color: #187a57;
    padding: 50px;
    color: #d9fff1;
}

.bg-odd-even {
    background-color: #d9fff1;
    padding: 50px;
    color: #187a57;
}


.bg-even-odd {
    background-color: #d9fff1;
    padding: 50px;
    color: #187a57;
}

.bg-even-even {
    background-color: #187a57;
    padding: 50px;
    color: #d9fff1;
}



ul.kebijakan,
.kebijakan ul {
    list-style: square;
}

ul.kebijakan li,
ul.detail-proyek li,
.kebijakan ul li {
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 27px;
    color: #222;
}





/*======== On screens that are 480px wide or less XS ========*/
@media screen and (max-width: 576px) {
    .carousel-item {
        width: 100% !important;
        height: auto !important;
        min-height: 200px !important;
    }

    footer {
        font-size: 12px;
    }

    .bg-produk-1 {
        padding: 20px;
    }

    .bg-produk-2 {
        padding: 20px;
    }

    .bg-odd-odd {
        background-color: #187a57;
        padding: 20px;
        color: #d9fff1;
    }

    .bg-odd-even {
        background-color: #d9fff1;
        padding: 20px;
        color: #187a57;
    }


    .bg-even-odd {
        background-color: #187a57;
        padding: 20px;
        color: #d9fff1;
    }

    .bg-even-even {
        background-color: #d9fff1;
        padding: 20px;
        color: #187a57;
    }

    .h5,
    h5 {

        font-size: 15px;

    }

    p {
        font-size: 12px;
    }

    .font-size-big {
        font-size: 14px;
        line-height: 20px;
    }

    .h4,
    h4 {
        font-size: 1rem;
    }

    .h3,
    h3 {

        font-size: 1.25rem;

    }

    .h2,
    h2 {

        font-size: 1.5rem;

    }

    ul.kebijakan,
    .kebijakan ul {
        padding-left: 20px;
    }

    ul.kebijakan li,
    ul.detail-proyek li,
    .kebijakan ul li {
        font-size: 14px;
        line-height: 20px;
    }

    .menu-title {
        font-size: .7rem;
    }

    .btn-primary,
    .btn-warning {
        border-radius: 30px;
        padding: 5px;
        min-width: 100px;
        font-size: 14px;
    }

}


/*======== On screens that are 768px wide or more SM ========*/
@media screen and (min-width: 576px) {

    .carousel-item {
        width: 100% !important;
        height: auto !important;
        min-height: 400px !important;
    }
}



/*======== On screens that are 768px wide or more Md ========*/
@media screen and (min-width: 768px) {

    /* .h5,
    h5 {

        font-size: 15px;

    }

    p {
        font-size: 12px;
    }

    .font-size-big {
        font-size: 14px;
        line-height: 20px;
    }

    .h4,
    h4 {
        font-size: 1rem;
    }

    .h3,
    h3 {

        font-size: 1.25rem;

    }

    .h2,
    h2 {

        font-size: 1.5rem;

    } */



    .carousel-item {
        width: 100% !important;
        height: auto !important;

    }



    .bg-odd-odd {
        padding: 20px;
        margin-right: 25px !important;
    }

    .bg-odd-even {
        padding: 20px;
        margin-left: 25px !important;
    }


    .bg-even-odd {
        padding: 20px;
        margin-right: 25px !important;
    }

    .bg-even-even {
        padding: 20px;
        margin-left: 25px !important;
    }
}


/*======== On screens that are 992px wide or more Large ========*/
@media screen and (min-width: 992px) {

    .carousel-item {
        width: 100% !important;
        height: auto !important;
        min-height: 500px !important;

    }

    /* .home .carousel-item {
        height: 101vh !important;

    } */

    .home .carousel-item {
        width: 100% !important;
        height: auto !important;
        min-height: 600px !important;
    }

    .navbar-dark {

        background-color: transparent !important;
        z-index: 1;

    }

    .navbar-light {

        background-color: transparent !important;
        z-index: 1;


    }


    header {
        margin-top: -90px;
    }

    .navbar-dark .navbar-nav .nav-link {

        color: rgba(255, 255, 255, 1);

    }

    .navbar-light .navbar-nav .nav-link {

        color: rgba(255, 255, 255, 1);

    }

    .navbar-light .navbar-nav .nav-link:hover,
    .navbar-light .navbar-nav .nav-link:active,
    .navbar-light .navbar-nav .nav-link:focus {

        color: rgba(255, 255, 255, .5);

    }

    .navbar-expand-lg .navbar-nav .nav-link {

        padding-right: 1rem;
        padding-left: 1rem;

    }

    .navbar {
        padding: 20px 1rem !important;

    }

    .bg-odd-odd {
        padding: 50px;
        margin-right: 50px;

    }

    .bg-odd-even {
        padding: 50px;
        margin-left: 50px;
    }


    .bg-even-odd {
        padding: 50px;
        margin-right: 50px;
    }

    .bg-even-even {
        padding: 50px;
        margin-left: 50px;
    }
}



/*======== On screens that are 1200px wide or more Xtra Large ========*/
@media screen and (min-width: 1200px) {

    .carousel-item {
        height: 60vh !important;

    }

    .home .carousel-item {
        height: 101vh !important;
    }

    /* .carousel-item {
        width: 100% !important;
        height: auto !important;
        min-height: 500px !important;

    } */

    /* .home .carousel-item {
        height: 101vh !important;

    } */

    /* .home .carousel-item {
        width: 100% !important;
        height: auto !important;
        min-height: 600px !important;
    } */


}
