body {
    /* padding-top: 56px; */
}

header {
    background-color: #1E2D3E;
}

header h1 {
    /* font-size: 28px; */
}


ul.timeline {
    list-style-type: none;
    position: relative;
}

ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 24px;
    width: 2px;
    height: 100%;
    z-index: 400;
    margin-top: 3px;
}

ul.timeline>li {
    margin: 20px 0;
    padding-left: 10px;
}

ul.timeline>li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #ccc;
    left: 15px;
    width: 20px;
    height: 20px;
    z-index: 400;
    margin-top: 3px;
}

ul.timeline>li.spp:before {

    border: 3px solid #FA6C3C;

}

ul.timeline>li.deposit:before {

    border: 3px solid #FF4376;

}
